.benefitCard {
    width: 280px;
    height: 382px;
    display: flex;
    align-items: flex-end;
    position: relative;


    &_card {
        height: 302px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: left;
        padding: 20px;
        padding-bottom: 35px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;


        .text {
            height: 60%;
            justify-self: end;
            color: #fff;


            p.info {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 35px;
                text-align: center;
            }
        }
    }

    .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        margin-left: calc(50% - 75px - 20px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            height: 250px;
        }
    }


}