@keyframes borderAnimation {
    0% {
        border: 2px solid #ffc100;
    }

    100% {
        border: 2px solid rgb(var(--mainColor));
    }
}


.step {
    width: 100%;
    color: #fff;
    margin-top: 155px;
    background-color: rgb(var(--mainColor), 0.1);
    backdrop-filter: blur(8px);
    padding-top: 35px;
    gap: 50px;

    h3 {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 100%;
        /* or 102px */

        text-align: center;
        letter-spacing: 0.01em;
    }

    p {
        font-size: 30px;
        margin: 0;
    }

  

    .started {
        height: 150px;
    }


    .carou {
        height: 450px;
        margin-top: -200px;
        display: flex;
        justify-content: space-around;
        position: static;
        .line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            margin-top: 180px;
            display: flex;
            justify-content: flex-start;
    
            marquee {
                margin-top: -8px;
                height: 15px;
                position: absolute;
                width: 100%;
                overflow: visible;
                display: flex;
                align-items: center;
    
    
            }
    
            &_animation {
                height: 0px;
                // position: absolute;
    
                width: 70px;
                display: block;
                animation: borderAnimation linear infinite 1.5s;
                position: relative;
    
                &::before {
                    position: absolute;
                    right: -20px;
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    // animation: borderAnimation  linear infinite 1.5s;
                    border-color: transparent transparent transparent rgb(var(--mainColor));
                    border-width: 10px;
                    border-style: solid;
                    display: block;
                    margin-top: -10px;
                }
            }
    
        }
       



        .spend {
            height: 200px;
            width: 200px;
            align-self: flex-start;

            display: grid;
            grid-template-rows: 25% 65%;
            grid-template-areas:
                "number spend"
                "number info"
                ". .";

            &:nth-child(even) {
                align-self: flex-end;

                &::before {
                    position: absolute;
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-color: rgb(var(--mainColor));
                    margin-top: -85px;
                    margin-left: 75px;
                    border-radius: 50%;
                    display: block;
                }

                &::after {
                    content: unset;
                }
            }

            &::after {
                position: absolute;
                content: "";
                width: 30px;
                height: 30px;
                background-color: rgb(var(--mainColor));
                margin-top: 165px;
                margin-left: 75px;
                border-radius: 50%;
                display: block;
            }

            .title {
                grid-area: number;
                font-size: 76px;
                line-height: 66px;
            }

            .spend_info {
                font-size: 35px;
                font-family: "Inter";
                text-align: left;
                line-height: 35px;
                margin-left: 10px;
            }

            .info {
                text-align: left;
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
}




@media only screen and (max-width:1336px) {
    .step {
        height: max-content;
        display: grid;
        grid-template-areas:
            "title title"
            "line spend";
        grid-template-columns: 5% 70%;
        grid-template-rows: 20% 70%;
        justify-content: center;



        h3 {
            width: 100%;
            font-size: 20px;
        }

        p {
            font-size: 16px;
            margin: 0;
            line-height: 45px;
            height: 20px;
        }

      

        .carou {
            align-items: center;
            
            position: relative;
            height: 600px;
            grid-area: spend;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: nowrap;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            .line {
                height: 100%;
                width: 5px;
                margin: 0;
                margin-top: 10px;
                left: 15px;
                grid-area: line;
                position: absolute;
                marquee{
                    display: none;
                }
            }

            .spend {
                width: 350px;
                height: 100px;
                align-self: center;
                display: grid;
                grid-template-areas:
                    "title info"
                    "title step";
                grid-template-columns: 10% 90%;
                grid-template-rows: 40% 60%;
                position: static;

                &_info {
                    grid-area: info;
                    height: 100%;

                }

                .info {
                    grid-area: step;
                    
                    height: 80%;
                    box-sizing: border-box;
                }

                .title {
                    grid-area: title;
                    height: 100%;
                    font-size: 16px;
                }

                &::after {
                    content: unset;
                }

                &::before {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: block;
                    margin: 0;
                    position: absolute;
                    left: 2px;

                    position: absolute;
                }

                &:nth-child(even) {
                    align-self: unset;

                    &::before {
                        margin: 0;
                        content: "";
                        width: 30px;
                        height: 30px;
                        background-color: #fff;
                        border-radius: 50%;
                        display: block;
                        margin: 0;
                        left: 2px;
                    }


                }
            }
        }

    }
}


@media only screen and (max-width:590px) {
    .title {
        width: 100%;
    }

    .step {
        height: max-content;
        display: grid;
        grid-template-areas:
            "title title"
            "line spend";
        grid-template-columns: 5% 60%;
        justify-content: center;

        .title {
            grid-area: title;
        }
    }

    .step {

        grid-template-columns: 5% 80%;

        .carou {
            .spend {
                width: 90%;



                &::before {

                    width: 30px;
                    height: 30px;

                    margin-left: -32px;

                    position: absolute;
                }

                &:nth-child(even) {
                    align-self: unset;

                    &::before {

                        width: 30px;
                        height: 30px;


                        margin-left: -32px;
                    }


                }
            }

        }
    }



}