:root {
  --mainColor: 255, 130, 0;

}


@font-face {
  font-family: "Encode Sans";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Inter-b";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}


@font-face {
  font-family: 'Objective';
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
}


body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(31, 100%, 50%);
  background-color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body, h1{
  font-family: "Objective";
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  width: 1440px;
  margin: 40px auto;
}


.mt-10 {
  margin: 90px auto;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}





@media only screen and (max-width:1500px) {
  .container {
    width: 1240px;
    margin: 0 auto;
  }
}



@media only screen and (max-width:1336px) {
  .container {
    width: 1190px;
  }
}

@media only screen and (max-width:1190px) {
  .container {
    width: 1080px;
  }
}

@media only screen and (max-width:1080px) {
  .container {
    width: 860px;
  }
}

@media only screen and (max-width:900px) {
  .container {
    width: 740px;
  }
}

@media only screen and (max-width:760px) {
  .container {
    width: 560px;
  }
}

@media only screen and (max-width:560px) {
  .container {
    width: 460px;
    box-sizing: border-box;

  }
}


@media only screen and (max-width:480px) {
  .container {
    width: 390px;
    box-sizing: border-box;

  }
}


@media only screen and (max-width:400px) {
  .container {
    width: 340px;
    box-sizing: border-box;
  }
}


@media only screen and (max-width:360px) {
  .container {
    width: 320px;
    box-sizing: border-box;
  }
}

